#Details__container {
  /* height:  600px;
  width: 400px;
  border-color: blue;  */
  padding: 20px 50px;
  justify-content: center;
  align-content: center;
  }
  
  #Details__storeLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
  }
  
  #Details__title {
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
  }
  
  #Details__price {
    font-size: 25px;
    margin-top: 0px;
  }
  
  #Details__img {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  
  #Details__addToCart {
    background: gray;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    height: 50px;
    width: 150px;
    /* position: absolute; */
    bottom: 0; 
    width: 40%;
  }

  #AddToCart{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #StoreProduct__addToCart{
    background-color: fuchsia;
    color: white;
    width: 85px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 0 15px;
    cursor: pointer;
    bottom: 0;
    position: relative;
    font-weight: bold;
    
  }