
body {
	/* background: repeating-linear-gradient(-45deg,pink,pink 20px,fuchsia 20px,fuchsia 40px);
	background-size:56px 56px;This is unique for this background, need to find a pattern and develop a formula */
	background-position-x:0%;
  -webkit-animation:'slide' 20s infinite linear forwards;
  background-size: cover;
  background-color: rgb(241, 219, 223);
} 
header{
  background-image: url("../images/235836866b71f0b (1).jpg");
  background-repeat: y;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-image: <iframe width="854" height="480" src="https://www.youtube.com/embed/tatgxtiS8g0" frameborder="0" gesture="media" allowfullscreen></iframe>; */
  background-color: white; 
  height: 300px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 5em;
  color: fuchsia;
}

.App-intro {
  font-size: large;
}
h1{
  font-family: 'Satisfy', cursive;
}

#Fashion-logo{
  /* background-image: url('https://firebasestorage.googleapis.com/v0/b/leah-elegant-store.appspot.com/o/fashion-logos.jpg?alt=media&token=b16a7e15-55be-4990-9bc2-98fa1dc31aa9'); */
  height: 80px;
  width:  50px;
}
#footer{
  height: 50px;
  padding-top: 250px;
  margin-top: -10px;
  justify-content: center;
}
/* 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes 'slide' {
	0%{
		background-position-x:0%;
	}
	100% {
		background-position-x:100%;
	}
} */

/*Responsive Styles*/
@media(min-width: 500px){
  h1{
    font-size: 12px;
  }
}
