body{
  /* background-image: url('https://firebasestorage.googleapis.com/v0/b/leah-elegant-store.appspot.com/o/Luxury_crepe_-_hot_pink.jpg?alt=media&token=96b39a3c-659c-4d16-a9ca-03f685bcd314'); */
  /* background-image: <iframe width="854" height="480" src="https://www.youtube.com/embed/tatgxtiS8g0" frameborder="0" gesture="media" allowfullscreen></iframe>; */
  background-size: cover;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-image: <iframe width="854" height="480" src="https://www.youtube.com/embed/tatgxtiS8g0" frameborder="0" gesture="media" allowfullscreen></iframe>; */
  background-color: white; 
  height: 250px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 5em;
  color: fuchsia;
}

.App-intro {
  font-size: large;
}
h1{
  font-family: 'Satisfy', cursive;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
