body{
  /* background-image: url('https://firebasestorage.googleapis.com/v0/b/leah-elegant-store.appspot.com/o/abstract-16971_960_720.jpg?alt=media&token=063d9532-a795-439b-8f51-cd15d9a45866');
  background-size: cover; */
  
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 250px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 4.5em;
}

.App-intro {
  font-size: large;
}
h1{
  font-family: 'Satisfy', cursive;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
