.Nav-holder{
    border-bottom: 5px;
    border-top: 5px;
}

.Nav-holder, ul{
    /* color: white; */
    /* background-color: rgb(226, 147, 177); */
    display: flex;
    justify-content: center;
    align-content: center;
    margin:  0;
    
}

ul, li{
    list-style-type: none;
    padding-left: 150px;
    /* margin-left: 50px; */
    /* font: 1.5em; */
    font-weight: bold;
    color: black;
    
}

#login-button {
    width: 100%;
    height: 45px;
    color: black;
    background-color: #ff80ff;
    border: 0;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  #Nav__shoppingCart {
    color: fuchsia;
    font-size: 50px;
    position: relative;

  }
  #Fashion-logo{
      /* background-image: url('https://firebasestorage.googleapis.com/v0/b/leah-elegant-store.appspot.com/o/fashion-logos.jpg?alt=media&token=b16a7e15-55be-4990-9bc2-98fa1dc31aa9'); */
      height: 180px;
      width:  140px;
  }

  